@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="chapter"]{
	margin-top: 20vh;
}

[epub|type~="chapter"] h2{
	font-size: 1em;
	font-style: italic;
	font-variant: normal;
	font-weight: normal;
	margin: 0;
	text-align: initial;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br{
	display: none;
}

[epub|type~="z3998:illustration"]{
	height: 2em;
	vertical-align: middle;
}
